In [72]:
import pandas as pd

In [73]:
df = pd.read_csv('../data/US-Airline-Flight-Routes-and-Fares-1993-2024.csv')

df.head()

/var/folders/2s/6s11c01n27g08gwkl3rs_2dc0000gn/T/ipykernel_89536/3419103000.py:1: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/US-Airline-Flight-Routes-and-Fares-1993-2024.csv')

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,...,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk
0,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,14112,ABE,...,81.43,G4,1.0000,81.43,G4,1.0000,81.43,NaN,NaN,202131013514112ABEPIE
1,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,15304,ABE,...,208.93,DL,0.4659,219.98,UA,0.1193,154.11,NaN,NaN,202131013515304ABETPA
2,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11259,ABQ,...,184.56,WN,0.9968,184.44,WN,0.9968,184.44,NaN,NaN,202131014011259ABQDAL
3,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11298,ABQ,...,182.64,AA,0.9774,183.09,AA,0.9774,183.09,NaN,NaN,202131014011298ABQDFW
4,Table1a,2021,3,30140,30466,"Albuquerque, NM","Phoenix, AZ",10140,14107,ABQ,...,177.11,WN,0.6061,184.49,AA,0.3939,165.77,NaN,NaN,202131014014107ABQPHX

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245955 entries, 0 to 245954
Data columns (total 23 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tbl             245955 non-null  object
 1   Year            245955 non-null  int64
 2   quarter         245955 non-null  int64
 3   citymarketid_1  245955 non-null  int64
 4   citymarketid_2  245955 non-null  int64
 5   city1           245955 non-null  object
 6   city2           245955 non-null  object
 7   airportid_1     245955 non-null  int64
 8   airportid_2     245955 non-null  int64
 9   airport_1       245955 non-null  object
 10  airport_2       245955 non-null  object
 11  nsmiles         245955 non-null  int64
 12  passengers      245955 non-null  int64
 13  fare            245955 non-null  float64
 14  carrier_lg      244415 non-null  object
 15  large_ms        244415 non-null  float64
 16  fare_lg         244415 non-null  float64
 17  carrier_low     244343 non-null  object
 18  lf_ms           244343 non-null  float64
 19  fare_low        244343 non-null  float64
 20  Geocoded_City1  206749 non-null  object
 21  Geocoded_City2  206749 non-null  object
 22  tbl1apk         245955 non-null  object
dtypes: float64(5), int64(8), object(10)
memory usage: 43.2+ MB

In [75]:
df.columns

Index(['tbl', 'Year', 'quarter', 'citymarketid_1', 'citymarketid_2', 'city1',
       'city2', 'airportid_1', 'airportid_2', 'airport_1', 'airport_2',
       'nsmiles', 'passengers', 'fare', 'carrier_lg', 'large_ms', 'fare_lg',
       'carrier_low', 'lf_ms', 'fare_low', 'Geocoded_City1', 'Geocoded_City2',
       'tbl1apk'],
      dtype='object')

In [ ]:
df.drop({'citymarketid_1', 'citymarketid_2', 'Geocoded_City1', 'Geocoded_City2'}, axis=1, inplace=True)
df.rename(columns={'quarter' : 'Quarter', 'city1' : 'Origin_City', 'city2' : 'Dest_City', 
                   'airportid_1' : 'Orgin_AiportId', 'airportid_2' : 'Dest_AirportId', 
                   'airport_1' : 'Origin_Airport_Code', 'airport_2' : 'Dest_Airport_Code',
                   'nsmiles' : 'Trip_Miles', 'passengers' : "Passengers", 'fare' : "Avg_Fare", 'carrier_lg' : "Largest_Carrier", 'large_ms' : 'Largest_Carrier_MS',
                   'fare_lg' : 'Avg_Fare_Largest_Carrier', 'carrier_low' : 'Lowest_Fare_Carrier_Code', 'fare_low' : 'Lowest_Fare', 'lf_ms' : 'Lowest_Fare_Carrier_MS'
                   }, inplace=True)
df.sample(10    )

,tbl,Year,Quarter,Origin_City,Dest_City,Orgin_AiportId,Dest_AirportId,Origin_Airport_Code,Dest_Airport_Code,Trip_Miles,Passengers,Avg_Fare,Largest_Carrier,Largest_Carrier_MS,Avg_Fare_Largest_Carrier,Lowest_Fare_Carrier_Code,Lowest_Fare_Carrier_MS,Lowest_Fare,tbl1apk
126840,Table 1a,2014,3,"Los Angeles, CA (Metropolitan Area)","Oklahoma City, OK",12954,13851,LGB,OKC,1187,3,309.45,DL,0.9300,310.23,DL,0.9300,310.23,201431295413851LGBOKC
15426,Table 1a,2006,3,"El Paso, TX","Los Angeles, CA (Metropolitan Area)",11540,13891,ELP,ONT,714,106,177.82,WN,0.6700,179.18,HP,0.2600,171.41,200631154013891ELPONT
195316,Table 1a,2016,4,"Chicago, IL","Las Vegas, NV",13232,12889,MDW,LAS,1521,1319,160.56,WN,0.9898,159.93,WN,0.9898,159.93,201641323212889MDWLAS
208123,Table 1a,2018,1,"New York City, NY (Metropolitan Area)","Raleigh/Durham, NC",15070,14492,SWF,RDU,463,8,186.76,AA,0.9853,185.61,AA,0.9853,185.61,201811507014492SWFRDU
2207,Table1a,2021,4,"Pittsburgh, PA","Washington, DC (Metropolitan Area)",14122,10821,PIT,BWI,210,70,135.10,WN,0.9567,133.37,WN,0.9567,133.37,202141412210821PITBWI
191370,Table 1a,2016,2,"Los Angeles, CA (Metropolitan Area)","Spokane, WA",13891,11884,ONT,GEG,962,107,186.62,WN,0.5994,177.06,WN,0.5994,177.06,201621389111884ONTGEG
219834,Table1a,2020,1,"Des Moines, IA","New York City, NY (Metropolitan Area)",11423,12953,DSM,LGA,1071,116,264.30,DL,0.6854,266.90,DL,0.6854,266.90,202011142312953DSMLGA
168068,Table 1a,1998,2,"Dallas/Fort Worth, TX","Los Angeles, CA (Metropolitan Area)",11259,13891,DAL,ONT,1246,1,179.76,WN,0.6000,96.33,WN,0.6000,96.33,199821125913891DALONT
180971,Table 1a,2015,2,"Chicago, IL","Philadelphia, PA",13232,14100,MDW,PHL,678,724,182.62,WN,0.9800,182.06,WN,0.9800,182.06,201521323214100MDWPHL
502,Table1a,2021,3,"Boston, MA (Metropolitan Area)","Pittsburgh, PA",10721,14122,BOS,PIT,496,523,210.18,DL,0.4497,191.52,DL,0.4497,191.52,202131072114122BOSPIT